.quest-page-quest-list {
  background-color: #f3f3f3;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.quest-list-tools {
  display: flex;
  justify-content: space-between;
  min-width: 124rem;

  button {
    margin-right: 1.5rem;
  }
}

.quest-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0rem;
}

.quest-card-wrapper {
  display: grid;
  grid-template-columns: repeat((4, 1fr));
  width: 127rem;
  & > * {
    margin: 2rem;
  }
}

.quest-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
