@import '/src/styles/';

._BADGE_ {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  padding: 0rem 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  background-color: $gil-blue;

  &.badge-align {
    &-start {
      align-self: flex-start;
    }
    &-center {
      align-self: center;
    }
    &-end {
      align-self: flex-end;
    }
  }
}
