@import '/src/styles/';

._BADGE_ {
  width: 6.4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: $gil-blue;

  &.badge-align {
    &-start {
      align-self: flex-start;
    }
    &-center {
      align-self: center;
    }
    &-end {
      align-self: flex-end;
    }
  }
}
