@import '/src/styles/';

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  min-width: 102.4rem;
  height: 8.8rem;
  background-color: $footer-gray;
}

.text-container {
  display: flex;
  width: 100rem;
  margin: auto;

  > ._TEXT_ {
    margin-right: 2rem;
  }
}
