@import '/src/styles/';

.roadmap-quest {
  > .contents {
    height: 73.7rem;
    background-color: $main-gray;
    border-radius: 1.5rem;
    padding: 3rem 1.5rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68rem;
    margin-top: 2rem;
    overflow-y: scroll;

    > ._CARD_ {
      margin: 2.5rem auto;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0 0 0.3rem $gil-blue;
      }
    }
  }
}

.roadmap-text {
  > .contents {
    width: 70%;
  }
}

.roadmap-preview {
  // width: 100%;
  // height: 60rem;
}
