@import '/src/styles/';

.ocean {
  height: 20rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  // background: $gil-blue;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
  /* animation: wave 30s linear infinite;
  animation-delay: 0; */
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1024px;
  }
}
