@import '/src/styles/';

.ocean {
  position: absolute;
  width: 100%;
  height: 18rem;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.wave1 {
    z-index: 10;
    background: url('@src/assets/images/wave_blue.svg');
    background-size: 200rem 35rem;
    animation: wave1 40s linear infinite;
    animation-delay: 0;
  }

  &.wave2 {
    z-index: 8;
    background: url('@src/assets/images/wave_navy.svg');
    background-size: 200rem 36rem;
    animation: wave2 20s ease-in-out infinite;
    animation-delay: 0;
  }
}

@keyframes wave1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200rem;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -200rem;
  }
}
