@import '/src/styles/';

._PAGINATION_ {
  .pagination-number {
    cursor: pointer;
    display: inline !important;
    margin: 0rem 1rem;
    transition: 0.5s;

    &:hover {
      color: #333;
    }
  }
}
