@import '/src/styles/';

.count-background {
  min-width: 1024px;
  height: 40rem;
  background-color: $gil-blue;
}

.count-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  width: 90rem;
  height: 100%;
  margin: auto;
}

.count {
  width: 18rem;
  list-style: none;

  .upper-wrapper {
    margin-bottom: 2rem;
  }

  .lower-wrapper {
    text-align: center;

    > .number-text {
      display: inline-block;
      font-size: 8rem;
      line-height: 8rem;
    }

    > .unit-text {
      display: inline-block;
      line-height: 3.6rem;
    }
  }
}
