@import '/src/styles/';

._PROGRESS_BAR_WRAPPER_ {
  display: grid;
  grid-template-columns: 2fr 12fr 1fr;

  .text {
    height: 2.5rem;
    line-height: 3rem;
  }

  ._PROGRESS_BAR_ {
    height: 2.5rem;
    background: $main-gray;
    border-radius: 2.5rem;
    flex-grow: 1;
  }
}
