// Main color
$gil-blue: #0389ff;
$job-navy: #172965;

// Custom Color
$main-gray: #f3f3f3;
$line-gray: #e3e3e3;
$line-dark-gray: #b0b0b0;
$text-main: #333333;
$text-gray: #b6b6b6;
$footer-gray: #f9f9f9;

// System Color
$active-green: #69db7c;
$inactive-red: #ff8787;
$warning-red-1: #fff0ee;
$warning-red-2: #f8d0d1;

// Gray
$white: #ffffff;
$gray-0: #f2f2f2;
$gray-1: #efeff2;
$gray-2: #ebebee;
$gray-3: #e0e0e5;
$gray-4: #cacacc;
$gray-5: #b1b1b3;
$gray-6: #767679;
$gray-7: #444348;
$gray-8: #15141a;
$black: #000000;

// Red
$red-5: #ff6b6b;
$red-6: #fa5252;
$red-7: #f03e3e;
$red-8: #e03131;
$red-9: #c92a2a;
$red-10: #a51111;

// Orange
$orange-soft: #ffece2;
$orange-hard: #f38119;

// Green
$green: #34c759;

// Blue
$blue-0: #f3f9ff;
$blue-1: #e6f2ff;
$blue-2: #c5e1ff;
$blue-3: #92c7ff;
$blue-4: #5facff;
$blue-5: #1184ff;
$blue-6: #0c6cd3;
$blue-7: #004c9e;
$blue-8: #003267;
