$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-size-xx-small: 1.2rem;
$font-size-x-small: 1.3rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-x-large: 2rem;
$font-size-xx-large: 2.2rem;
$font-size-xxx-large: 3.6rem;
$font-size-xxxx-large: 4.8rem;

$hover-transition: ease-out 0.1s;

$box-shadow: rgb(4 4 161 / 10%) 0px 6px 12px 0px;
