@import '/src/styles/';

._PAPER_ {
  width: 20.4rem;
  height: 20.4rem;
  padding: 4.6rem 4.2rem;
  background: url('@src/assets/images/paper.png');

  &:hover {
    cursor: pointer;
  }

  .paper-contents {
    width: 20rem;

    > ._TEXT_ {
      margin-bottom: 1rem;
    }

    .paper-category {
      height: 2rem;
      overflow: hidden;
    }

    .paper-name {
      height: 10rem;
      overflow: hidden;
    }
  }

  ._AUTHOR_ {
    margin-top: 2rem;
  }
}
