@import '/src/styles/';

._PROGRESS_BAR_WRAPPER_ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;

  > * {
    flex-basis: 3rem;
  }

  ._PROGRESS_BAR_ {
    max-width: 70rem;
    height: 2.5rem;
    background: $main-gray;
    border-radius: 2.5rem;
    flex-grow: 1;
  }
}
