@import '/src/styles/';

.achievement-page {
  width: 89.8rem;
  height: 72.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .achievement-title {
    margin: 1rem 0;
  }

  .achievement-icon-wrapper {
    display: flex;
    flex-direction: row;

    .achievement-icon {
      display: flex;
      flex-direction: column;
      width: 14.4rem;
      height: 100%;
      margin: 1rem;
      padding-top: 4rem;

      .tooltip {
        visibility: hidden;
        width: 14.4rem;
        padding: 1rem 0;
        gap: 1rem;
      }
    }

    .achievement-icon:hover .tooltip {
      visibility: visible;
    }
  }

  .divider {
    width: 14.5rem;
    border: 0.1rem solid $line-gray;
  }
}
