.quest-page-roadmap-list {
  width: 89.8rem;
  height: 72.1rem;
  display: flex;
  flex-direction: column;
}

.quest-page-roadmap-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;

  .empty-list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.quest-page-paper-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.quest-page-roadmap-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
