.searchContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 44px;
  background-color: #f3f3f3;
  border-radius: 30px;
}

.searchInput {
  width: 85%;
  height: 22px;
  font-size: 16px;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #0389ff;
  }
}

.searchButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;

  img {
    width: 100%;
  }
}
