@import '/src/styles/';

.sub-background {
  position: relative;
  min-width: 127rem;
  height: 38rem;
  background-color: $main-gray;
}

.sub-wave {
  position: absolute;
  top: -10rem;
  width: 100%;
  height: 10rem;
  background: url('@src/assets/images/wave_gray.svg');
  background-size: cover;
  z-index: 10;
}

.sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: 100%;
  margin: auto;
}

.sub-container {
  width: 30rem;
  height: 20rem;
  text-align: center;

  > ._TEXT_ {
    margin-bottom: 1rem;
  }

  > ._TEXT_:not(:first-child) {
    font-size: 4rem;
    line-height: 4rem;
  }

  button {
    width: 22.4rem;
    height: 5.2rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 10rem;
    background-color: $job-navy;
    cursor: pointer;
    > ._TEXT_ {
      font-size: 3rem;
    }
  }
}
