@import '/src/styles/';

._MENUBAR_ {
  display: flex;
  align-items: center;
  width: 122rem;
  height: 0.8rem;
  border-radius: 2.5rem;
  background-color: $gil-blue;
  padding: 3rem;
  gap: 2.5rem;

  ._TEXT_ {
    cursor: pointer;
    &.clicked {
      color: $white;
    }
  }
}
