.defaultButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.large {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  &.medium {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.gray {
    background-color: gainsboro;
  }

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }

  & + & {
    margin-left: 1rem;
  }
}
