@import '/src/styles/';

._ACHIVEMENT_ICON_ {
  &.icon-size {
    &-profile {
      width: 12rem;
      height: 12rem;
    }
    &-main {
      width: 14.4rem;
      height: 14.4rem;
    }
  }

  &.icon-id {
    &-1 {
      background: url('@src/assets/images/achievement_1.svg');
    }
    &-2 {
      background: url('@src/assets/images/achievement_2.svg');
    }
    &-3 {
      background: url('@src/assets/images/achievement_3.svg');
    }
    &-4 {
      background: url('@src/assets/images/achievement_4.svg');
    }
    &-5 {
      background: url('@src/assets/images/achievement_5.svg');
    }
    &-6 {
      background: url('@src/assets/images/achievement_6.svg');
    }
    &-7 {
      background: url('@src/assets/images/achievement_7.svg');
    }
    &-8 {
      background: url('@src/assets/images/achievement_8.svg');
    }
    &-9 {
      background: url('@src/assets/images/achievement_9.svg');
    }
    &-10 {
      background: url('@src/assets/images/achievement_10.svg');
    }
  }
}
