@import '/src/styles/';

._ACHIVEMENT_ICON_ {
  &.icon-size {
    &-profile {
      width: 12rem;
      height: 12rem;
    }
    &-main {
      width: 14.4rem;
      height: 14.4rem;
    }
  }

  &.icon-id {
    @for $id from 1 through 10 {
      &-#{$id} {
        background: url('@src/assets/images/achievement_#{$id}.svg');
        background-size: cover;
      }
    }
  }
}
