@import '/src/styles/';

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 199;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.5);

  * {
    z-index: 200;
  }

  div._BOX_ {
    height: 75rem;
    padding: 0;
    justify-content: flex-start;
  }

  section.quest-detail-intro {
    margin: 0;
    padding-top: 3rem;
    padding-left: 5rem;
  }

  section.quest-detail-desc {
    padding-left: 5rem;
    max-height: 60rem;
    overflow-y: auto;

    div.detail-tag-wrapper {
      display: none;
    }
  }
}
