@import '/src/styles/';

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  min-width: 1024px;
  box-shadow: $box-shadow;
  z-index: 10;
}

.header-wrapper {
  min-width: 120rem;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;

  .logo-image {
    width: 10rem;
    height: 3.5rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;

  .button-list {
    list-style: none;
    padding: 0;
  }
}

.auth-wrapper {
  margin-left: 5rem;
}

.link-button {
  float: left;
  margin: 0 2rem;
  cursor: pointer;
  text-decoration: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .profile {
    all: unset;
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  .auth {
    all: unset;
    width: 15.6rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    background-color: $gil-blue;
    cursor: pointer;
  }
}
