@import '/src/styles/';

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  min-width: 127rem;
  box-shadow: $box-shadow;
  z-index: 10;
}

.header-wrapper {
  min-width: 102.4rem;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;

  .logo-image {
    width: 10rem;
    height: 3.5rem;
    margin-left: 1rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;

  .button-list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    .link-button {
      cursor: pointer;
      text-decoration: none;
      margin: 1.5rem;
      *:hover {
        color: $gil-blue;
      }
    }

    ._HEADER_DROPDOWN_ {
      margin-left: 1.5rem;
    }
  }
}
